<!-- Sidebar -->
<div class="sidebarclient">
  <div class="init"></div>
  <div class="components" id="style-scrollbar">
    <div class="title">Branch</div>
    <ul>
      <input type="checkbox" value="">
      <p>Adidas (120)</p>
    </ul>
    <ul>
      <input type="checkbox" value="">
      <p>AdidasAdidas AdidasAdidas Adidas (120)</p>
    </ul>
    <ul>
      <input type="checkbox" value="">
      <p>Adidas (120)</p>
    </ul>
    <ul>
      <input type="checkbox" value="">
      <p>Adidas (120)</p>
    </ul>
    <ul>
      <input type="checkbox" value="">
      <p>Adidas (120)</p>
    </ul>
    <ul>
      <input type="checkbox" value="">
      <p>Adidas (120)</p>
    </ul>
    <ul>
      <input type="checkbox" value="">
      <p>Adidas (120)</p>
    </ul>
    <ul>
      <input type="checkbox" value="">
      <p>Adidas (120)</p>
    </ul>
    <ul>
      <input type="checkbox" value="">
      <p>Adidas (120)</p>
    </ul>
    <ul>
      <input type="checkbox" value="">
      <p>Adidas (120)</p>
    </ul>
    <ul>
      <input type="checkbox" value="">
      <p>Adidas (120)</p>
    </ul>
  </div>
  <div class="components" id="style-scrollbar">
    <div class="title">Catalog</div>
    <ul>
      <input type="checkbox" value="">
      <p>adis (120)</p>
    </ul>
    <ul>
      <input type="checkbox" value="">
      <p>AdidasAdidas AdidasAdidas Adidas (120)</p>
    </ul>
    <ul>
      <input type="checkbox" value="">
      <p>Adidas (120)</p>
    </ul>
    <ul>
      <input type="checkbox" value="">
      <p>Adidas (120)</p>
    </ul>
    <ul>
      <input type="checkbox" value="">
      <p>Adidas (120)</p>
    </ul>
  </div>
  <div class="components" id="style-scrollbar">
    <div class="title">Size</div>
    <div class="size">
      <button type="button" class="btn">40</button>
      <button type="button" class="btn">40</button>
      <button type="button" class="btn">40</button>
      <button type="button" class="btn">40</button>
      <button type="button" class="btn">40</button>
      <button type="button" class="btn">40</button>
      <button type="button" class="btn">40</button>
      <button type="button" class="btn">40</button>
      <button type="button" class="btn">40</button>
      <button type="button" class="btn">40</button>
      <button type="button" class="btn">40</button>
      <button type="button" class="btn">40</button>
    </div>
  </div>
  <div class="components" id="style-scrollbar">
    <div class="title">Color</div>
    <div class="size">
      <button type="button" class="btn" style="background:red"></button>
      <button type="button" class="btn" style="background:blue"></button>
      <button type="button" class="btn" style="background:BlueViolet "></button>
      <button type="button" class="btn" style="background:Chartreuse "></button>
      <button type="button" class="btn" style="background:DarkGreen "></button>
      <button type="button" class="btn" style="background:DarkOrange "></button>
      <button type="button" class="btn" style="background:DodgerBlue "></button>
    </div>
  </div>
  <div class="components" id="style-scrollbar">
    <div class="title">Price</div>
    <ul>
      <input type="checkbox" value="">
      <p>under $50 (20)</p>
    </ul>
    <ul>
      <input type="checkbox" value="">
      <p>$50 - $100 (20)</p>
    </ul>
    <ul>
      <input type="checkbox" value="">
      <p>$100 - $200 (20)</p>
    </ul>
    <ul>
      <input type="checkbox" value="">
      <p>$200 and above (20)</p>
    </ul>
  </div>
</div>