<script>
    $(document).ready(function () {
        $(".rightcontent > .listproduct a").hover(
            function (e) {
                $(this).children("ul").fadeIn(150);
                e.preventDefault();
            }, function (e) {
                $(this).children("ul").fadeOut(150);
                e.preventDefault();
            }
        );
    });
</script>
<div class="leftbody">
    <app-sidebar></app-sidebar>
</div>
<div class="rightcontent" ng-app="">
    <div class="init"></div>
    <div class="title">
        search results for: {{value}}
    </div>
    <div class="numberresult">
        (20 items)
    </div>
    <div class="col-lg-12">
    <div class="input-group">
            <form [formGroup]="formsearch">
        <input type="text" class="form-control" id="searchname" name="searchname" formControlName="searchname" #box (keyup.enter)="onEnter(box.value)" (keyup)="SearchProduct()" placeholder="Search for..." aria-label="Search for...">
        <span class="input-group-btn">
            <a class="btn searchbtn" type="button">
                <mat-icon>search</mat-icon>
            </a>
        </span>
        </form>
    </div>
</div>
    <div class="pagepagin">
    </div>
        <div class="listproduct" *ngFor="let product of productpost">
            <a routerLink='/'>
                <img src='https://drive.google.com/uc?id={{product.image}}' alt="" />
                <div class="nameproduct">
                    {{product.nameproduct}}
                </div>
                <div class="price">
                    {{product.price}}
                </div>
                <div class="sizeproduct">
                    {{product.size}}
                </div>
                <button type="button" (click)="AddToCart(product._id)" class="btn">Buy</button>
            </a>
        </div>
</div>