<div class="leftbody">
    <app-sidebar></app-sidebar>
</div>
<div class="rightcontent">
    <div class="init"></div>
    <div class="title">
        search results for: adidas
    </div>
    <div class="numberresult">
        (20 items)
    </div>
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for..." aria-label="Search for...">
        <span class="input-group-btn">
            <a class="btn searchbtn" type="button">
                <mat-icon>search</mat-icon>
            </a>
        </span>
    </div>
    <div class="pagepagin">
        <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
    </div>
    <div class="listproduct">
        <a routerLink='/'>
            <img src="http://image.sneakerhead.com/is/image/sneakerhead/cat-single?$sn20-175x132$&$img=sneakerhead/nike-jordan-8-retro-basketball-305381014-1"
                alt="" />
            <div class="nameproduct">
                NIKE Asin
            </div>
            <div class="price">
                $109.99
            </div>
            <ul>
                <div class="sizeproduct">
                    SIZE 7.5 8 9.5 10
                </div>
            </ul>
        </a>
        <a routerLink='/'>
            <img src="http://image.sneakerhead.com/is/image/sneakerhead/cat-single?$sn20-175x132$&$img=sneakerhead/nike-jordan-8-retro-basketball-305381014-1"
                alt="" />
            <div class="nameproduct">
                NIKE Asin
            </div>
            <div class="price">
                $109.99
            </div>
            <ul>
                <div class="sizeproduct">
                    SIZE 7.5 8 9.5 10
                </div>
            </ul>
        </a>
        <a routerLink='/'>
            <img src="http://image.sneakerhead.com/is/image/sneakerhead/cat-single?$sn20-175x132$&$img=sneakerhead/nike-jordan-8-retro-basketball-305381014-1"
                alt="" />
            <div class="nameproduct">
                NIKE Asin
            </div>
            <div class="price">
                $109.99
            </div>
            <ul>
                <div class="sizeproduct">
                    SIZE 7.5 8 9.5 10
                </div>
            </ul>
        </a>
        <a routerLink='/'>
            <img src="http://image.sneakerhead.com/is/image/sneakerhead/cat-single?$sn20-175x132$&$img=sneakerhead/nike-jordan-8-retro-basketball-305381014-1"
                alt="" />
            <div class="nameproduct">
                NIKE Asin
            </div>
            <div class="price">
                $109.99
            </div>
            <ul>
                <div class="sizeproduct">
                    SIZE 7.5 8 9.5 10
                </div>
            </ul>
        </a>
        <a routerLink='/'>
            <img src="http://image.sneakerhead.com/is/image/sneakerhead/cat-single?$sn20-175x132$&$img=sneakerhead/nike-jordan-8-retro-basketball-305381014-1"
                alt="" />
            <div class="nameproduct">
                NIKE Asin
            </div>
            <div class="price">
                $109.99
            </div>
            <ul>
                <div class="sizeproduct">
                    SIZE 7.5 8 9.5 10
                </div>
            </ul>
        </a>
        <a routerLink='/'>
            <img src="http://image.sneakerhead.com/is/image/sneakerhead/cat-single?$sn20-175x132$&$img=sneakerhead/nike-jordan-8-retro-basketball-305381014-1"
                alt="" />
            <div class="nameproduct">
                NIKE Asin
            </div>
            <div class="price">
                $109.99
            </div>
            <ul>
                <div class="sizeproduct">
                    SIZE 7.5 8 9.5 10
                </div>
            </ul>
        </a>
        <a routerLink='/'>
            <img src="http://image.sneakerhead.com/is/image/sneakerhead/cat-single?$sn20-175x132$&$img=sneakerhead/nike-jordan-8-retro-basketball-305381014-1"
                alt="" />
            <div class="nameproduct">
                NIKE Asin
            </div>
            <div class="price">
                $109.99
            </div>
            <ul>
                <div class="sizeproduct">
                    SIZE 7.5 8 9.5 10
                </div>
            </ul>
        </a>
    </div>

</div>