<div class="menu-container">
	<div class="logo">
		<a href="#">
			<img src="assets/images/logo.png">
		</a>
	</div>
	<div class="menuright">
		<li>
			<a routerLink='/'>
				<div class="menu-mobile">
					<mat-icon>more_vert</mat-icon>
				</div>
			</a>
		</li>

		<li>
			<a routerLink='/acount'>
				<mat-icon>person</mat-icon>
			</a>
			<ul>
				<li>
					<a routerLink='/login'>
						<button type="button" class="form-control">Login</button>
					</a>
				</li>

				<li>
					<a routerLink='/acount'>
						<mat-icon>person</mat-icon>
						<p>My Profile</p>
					</a>
				</li>
				<li>
					<a routerLink='/#'>
						<mat-icon>shopping_basket</mat-icon>
						<p>My Order</p>
					</a>
				</li>
				<li>
					<a routerLink='/#'>
						<mat-icon>card_giftcard</mat-icon>
						<p>Gilt Card</p>
					</a>
				</li>
				<li>
					<a routerLink='/register'>
						<mat-icon>perm_device_information</mat-icon>
						<p>Register</p>
					</a>
				</li>
				<li>
					<a routerLink='/adhome'>
						<mat-icon>supervisor_account</mat-icon>
						<p>Admin</p>
					</a>
				</li>
			</ul>
		</li>
		<li>
			<a routerLink='/'>
				<mat-icon>help_outline</mat-icon>
			</a>
		</li>
		<li>
			<a routerLink='/'>
				<mat-icon>shopping_cart</mat-icon>
			</a>
		</li>
		<li>
			<a routerLink='/'>
				<mat-icon>notifications</mat-icon>
			</a>
		</li>
		<div class="search">
			<a routerLink='/search'>
				<mat-icon>search</mat-icon>
			</a>
			<ul>
					<div class="col-lg-12">
							<div class="input-group">
							  <input type="text" class="form-control" placeholder="Search for..." aria-label="Search for...">
							  <span class="input-group-btn">
									<a class="btn btn-secondary" type="button"><mat-icon>search</mat-icon></a>
								  </span>
							</div>
							<small id="searchHelp" class="form-text text-muted">Enter keyword name catalog or name product</small>							
						  </div>
				<div class="catalog" id="style-scrollbar">
					<div class="title">Catalogs</div>
					<a routerLink='/'>
						NIKE
					</a>
					<a routerLink='/'>
						ADIS
					</a>
					<a routerLink='/'>
						KLOI
					</a>
					<a routerLink='/'>
						sneek
					</a>
					<a routerLink='/'>
						sneek
					</a>
					<a routerLink='/'>
						ADIS
					</a>
					<a routerLink='/'>
						KLOI
					</a>
					<a routerLink='/'>
						sneek
					</a>
					<a routerLink='/'>
						sneek
					</a>
				</div>
				<div class="product" id="style-scrollbar">
						<div class="title">Products</div>
						<a routerLink='/'>
							<img src="http://image.sneakerhead.com/is/image/sneakerhead/cat-single?$sn20-175x132$&$img=sneakerhead/nike-jordan-8-retro-basketball-305381014-1"
							alt="" />
							<div class="nameproduct">
								NIKE Asin
							</div>
						</a>
						<a routerLink='/'>
							<img src="http://image.sneakerhead.com/is/image/sneakerhead/cat-single?$sn20-175x132$&$img=sneakerhead/nike-jordan-8-retro-basketball-305381014-1"
							alt="" />
							<div class="nameproduct">
								NIKE Asin
							</div>
						</a>
						<a routerLink='/'>
							<img src="http://image.sneakerhead.com/is/image/sneakerhead/cat-single?$sn20-175x132$&$img=sneakerhead/nike-jordan-8-retro-basketball-305381014-1"
							alt="" />
							<div class="nameproduct">
								NIKE Asin
							</div>
						</a>
						<a routerLink='/'>
							<img src="http://image.sneakerhead.com/is/image/sneakerhead/cat-single?$sn20-175x132$&$img=sneakerhead/nike-jordan-8-retro-basketball-305381014-1"
							alt="" />
							<div class="nameproduct">
								NIKE Asin
							</div>
						</a>
						<a routerLink='/'>
							<img src="http://image.sneakerhead.com/is/image/sneakerhead/cat-single?$sn20-175x132$&$img=sneakerhead/nike-jordan-8-retro-basketball-305381014-1"
							alt="" />
							<div class="nameproduct">
								NIKE Asin
							</div>
						</a>
						<a routerLink='/'>
							<img src="http://image.sneakerhead.com/is/image/sneakerhead/cat-single?$sn20-175x132$&$img=sneakerhead/nike-jordan-8-retro-basketball-305381014-1"
							alt="" />
							<div class="nameproduct">
								NIKE Asin
							</div>
						</a>
						<a routerLink='/'>
							<img src="http://image.sneakerhead.com/is/image/sneakerhead/cat-single?$sn20-175x132$&$img=sneakerhead/nike-jordan-8-retro-basketball-305381014-1"
							alt="" />
							<div class="nameproduct">
								NIKE Asin
							</div>
						</a>
						<a routerLink='/'>
							<img src="http://image.sneakerhead.com/is/image/sneakerhead/cat-single?$sn20-175x132$&$img=sneakerhead/nike-jordan-8-retro-basketball-305381014-1"
							alt="" />
							<div class="nameproduct">
								NIKE Asin
							</div>
						</a>
						<a routerLink='/'>
							<img src="http://image.sneakerhead.com/is/image/sneakerhead/cat-single?$sn20-175x132$&$img=sneakerhead/nike-jordan-8-retro-basketball-305381014-1"
							alt="" />
							<div class="nameproduct">
								NIKE Asin
							</div>
						</a>
						<a routerLink='/'>
							<img src="http://image.sneakerhead.com/is/image/sneakerhead/cat-single?$sn20-175x132$&$img=sneakerhead/nike-jordan-8-retro-basketball-305381014-1"
							alt="" />
							<div class="nameproduct">
								NIKE Asin
							</div>
						</a>
						<a routerLink='/'>
							<img src="http://image.sneakerhead.com/is/image/sneakerhead/cat-single?$sn20-175x132$&$img=sneakerhead/nike-jordan-8-retro-basketball-305381014-1"
							alt="" />
							<div class="nameproduct">
								NIKE Asin
							</div>
						</a>
						<a routerLink='/'>
							<img src="http://image.sneakerhead.com/is/image/sneakerhead/cat-single?$sn20-175x132$&$img=sneakerhead/nike-jordan-8-retro-basketball-305381014-1"
							alt="" />
							<div class="nameproduct">
								NIKE Asin
							</div>
						</a>
						<a routerLink='/'>
							<img src="http://image.sneakerhead.com/is/image/sneakerhead/cat-single?$sn20-175x132$&$img=sneakerhead/nike-jordan-8-retro-basketball-305381014-1"
							alt="" />
							<div class="nameproduct">
								NIKE Asin
							</div>
						</a>
						<a routerLink='/'>
							<img src="http://image.sneakerhead.com/is/image/sneakerhead/cat-single?$sn20-175x132$&$img=sneakerhead/nike-jordan-8-retro-basketball-305381014-1"
							alt="" />
							<div class="nameproduct">
								NIKE Asin
							</div>
						</a>
					</div>
			</ul>
		</div>
	</div>
	<div class="menu">
		<ul>
			<li>
				<a href="#">NEW ARRIVALS</a>
			</li>
			<li>
				<a>NEW</a>
				<ul>
					<li>
						<a href="#">NEW ARRICALS</a>
						<ul>
							<li>
								<a href="#">Lidership</a>
							</li>
							<li>
								<a href="#">History</a>
							</li>
							<li>
								<a href="#">Locations</a>
							</li>
							<li>
								<a href="#">Careers</a>
							</li>
						</ul>
					</li>
					<li>
						<a>WHAT HOST</a>
						<ul>
							<li>
								<a href="#">Undergraduate</a>
							</li>
							<li>
								<a href="#">Masters</a>
							</li>
							<li>
								<a href="#">International</a>
							</li>
							<li>
								<a href="#">Online</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="#">RESEARCH</a>
						<ul>
							<li>
								<a href="#">Undergraduate research</a>
							</li>
							<li>
								<a href="#">Masters research</a>
							</li>
							<li>
								<a href="#">Funding</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="#">SOMETHING</a>
						<ul>
							<li>
								<a href="#">Sub something</a>
							</li>
							<li>
								<a href="#">Sub something</a>
							</li>
							<li>
								<a href="#">Sub something</a>
							</li>
							<li>
								<a href="#">Sub something</a>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li>
				<a href="#">WOMEN'S</a>
				<ul>
					<li>
						<a href="#">School</a>
						<ul>
							<li>
								<a href="#">Lidership</a>
							</li>
							<li>
								<a href="#">History</a>
							</li>
							<li>
								<a href="#">Locations</a>
							</li>
							<li>
								<a href="#">Careers</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="#">Study</a>
						<ul>
							<li>
								<a href="#">Undergraduate</a>
							</li>
							<li>
								<a href="#">Masters</a>
							</li>
							<li>
								<a href="#">International</a>
							</li>
							<li>
								<a href="#">Online</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="#">Study</a>
						<ul>
							<li>
								<a href="#">Undergraduate</a>
							</li>
							<li>
								<a href="#">Masters</a>
							</li>
							<li>
								<a href="#">International</a>
							</li>
							<li>
								<a href="#">Online</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="#">Empty sub</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="#">KIDS</a>
			</li>
			<li>
				<a href="#">APPAREL</a>
			</li>
			<li>
				<div class="sale">
					<a href="#">SALE</a>
				</div>
			</li>
			<li>
				<a href="#">BLOG</a>
			</li>
		</ul>
	</div>
</div>